---
Checks:
  -*,
  -llvm-header-guard,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  bugprone-*,
  readability-*,
  portability-*,
  google-*,
  clang-analyzer-*
  misc-include-cleaner

HeaderFilterRegex: '.*'

FormatStyle: file

ExtraArgs:
  - -std=c++23
